<header role="banner" class="global_satin">
<div class="authorimg"><img src="{{@author.image}}" itemprop="image" />
    {{#if blog.logo}}<a href="{{@blog.url}}" class="logo_satin"><img src="{{@blog.logo}}" alt="{{@blog.title}}"></a>{{/if}}
    <h1 class="blogtitle_satin"><a href="{{@blog.url}}" title="{{@blog.title}}">{{@blog.title}}</a></h1>
    <p class="blogdescript_satin">{{@blog.description}}</p>
</header>
